@import url("bootstrap.css");

/* Your custom styles will go below */
.bg-image {
    background-image: url('../assets/saleimage.jpg'); /* Update path to your image */
    background-size: cover;
    background-position: center;
    height: 60vh; /* Full-screen height */
  }